<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="socbox.presentationslides" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="socbox.presentationslides.PresentationSlides"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="socbox.presentationslides.SlideOneLargeVideo"
            android:label="@string/app_name"
            android:parentActivityName="socbox.presentationslides.PresentationSlides">
        </activity>

        <activity
            android:name="socbox.presentationslides.SlideTwoImageText"
            android:label="@string/app_name"
            android:parentActivityName="socbox.presentationslides.PresentationSlides">
        </activity>

        <activity
            android:name=".SlideThreeLargeImage"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideFourDualImageScroll"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideFiveQuadImageVideo"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideSixVertImageText"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideSevenImageGrid"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideEightVideoScrollerImages"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

        <activity
            android:name=".SlideNineTriScroller"
            android:label="@string/app_name"
            android:parentActivityName=".PresentationSlides">
        </activity>

    </application>

</manifest>
